project:
  type: website

website:
  navbar:
    background: primary
    search: true
    right:
      - text: "Home"
        href: index.qmd
      - text: "Publications"
        href: publications.qmd
      - text: "Conferences and talks"
        href: talks.qmd
      - text: "Teaching"
        href: teaching.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: false



