<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{fill title}}</title>
  <meta name="description" content="{{fill website_descr}}">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="icon" href="/assets/favicon.png">
</head>
<body>
<!--
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/optimizacion/">Optimización</a>
  </nav>
</header>
-->
<div class="franklin-content{{if hasmenu}} wide{{end}}">
{{if hasmenu}}
<div class="with-sidebar">
  <aside class="sidebar">
    {{ sidebar_optimizacion }}
  </aside>
  <div class="page-content">
{{end}}
